<div class="fixed-bg">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading" style="text-transform: uppercase;">đôi nét về dòng họ</h1>
      <p class="lead">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim consequatur reprehenderit voluptatem ullam ipsa iure harum, facere, dicta itaque error vitae, illo suscipit? Ullam eius voluptatem unde perspiciatis, molestiae dolore. 
          Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Nullam mollis. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapi. 
          Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Nullam mollis. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapi. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim consequatur reprehenderit voluptatem ullam ipsa iure harum, facere, dicta itaque error vitae, illo suscipit? Ullam eius voluptatem unde perspiciatis, molestiae dolore. 
          Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Nullam mollis. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapi. 
      </p>
      <p>
        <a href="#" class="btn btn-primary my-2" style="margin-right:2.5px;">
          Thành viên
        </a>
        <a href="#" class="btn btn-secondary my-2" style="margin-left:2.5px;">Secondary action</a>
      </p>
    </div>
  </section>

  
</div>